.header{
  max-width: 1280px;
  width: 100vw;
  display: grid;
  grid-column-gap: 20%;
  justify-content: center;
  background-color: white;
  align-content: center;
  margin: 0 auto;
  border-bottom: 2px gray solid;
}

.navbar {
  position: sticky;
  top: 0;
}


.namePerson {
  text-align: center;
  color: #3d9b4a;             /*поменять*/
  font-size: 22px;
  text-decoration: none;
  
}

.namePerson a:visited {
  color: #3d9b4a;             /*поменять*/
}

.namePerson a {
  text-decoration: none;
}

.namePerson a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
 .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: black;               /*поменять*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    color: white;
    background-color: grey;     /*поменять*/
    border-radius: 15px;
  }
  
  .navbar li ul {
    display: none;
    position: absolute;

    z-index: 1;
  }
  
  .navbar li:hover ul {
    display: block;
  }
  
  .navbar li ul li {
    float: none;
  }
  
  .navbar li ul li a {
    display: block;
    color: black;
    padding: 12px 0px;
    text-align: center;
    text-decoration: none;
  }
  
  .navbar li ul li a:hover {
    background-color: grey;
    color: white;
  }