.page{
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 1fr 1fr;
    
    max-width: 1280px;
    margin: 25px auto;
    padding: 0 10%;
}

.mainPhoto {
    justify-self: center;
    order: 1;

}
h1{
    margin: 0;
}
/* .mainText {
    
} */